.about-title {
    text-align: left;
    margin-left: 3rem;
    font-size: 2.75rem;
    margin-bottom: 0;
    font-weight: 700;
    font-style: italic;
}

.about-line {
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    width: 45%;
    height: 7px;
    border: none;
}

.text {
    width: 70rem;
    margin-left: 5rem;
    font-size: 1rem;
}

.subhead {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: #422b67;
    font-style: italic;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.box {
    display: inline-block;
    width: 40%;
    height: 10rem;
    border: 2px solid #F28440;
    border-radius: 4px;
    vertical-align: top;
    margin-right: 50px;
    padding: .5rem;
    font-size: 1rem;
}

h3 {
    font-size: 1.25rem;
    color: #422b67;
    font-style: italic;
}

.box-2 {
    display: inline-block;
    width: 30%;
    height: 8.3rem;
    border: 2px solid #F28440;
    border-radius: 4px;
    vertical-align: top;
    margin-right: 20px;
    padding: .25rem;
    margin-bottom: 1rem;
}

.team-title {
    text-align: left;
    margin-left: 3rem;
    margin-bottom: 1.25rem;
    color: #422b67;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}

.team-container {
    margin-bottom: 2rem;
}