.card {
    height: 4rem;
    width: 19rem;
    border: 2px solid #ff5e04;
    border-radius: 4px;
    padding: .15rem;
    transition: all .06s ease-in-out;
    margin: 0 auto;
}

.card:hover {
    transform: scale(1.08);
}

.icon {
    width: 5rem;
    display: inline-block;
    margin-top: -8px;
    margin-left: -16px;
    fill: #ff5e04;
}

.name {
    text-decoration: none;
    color: #422b67;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 15px;
    margin-left: 0px;
}

.text-container {
    margin-top: -55px;
    margin-left: 52px;
    width: 90%;
}