.card {
    height: 3.1rem;
    width: 18rem;
    border: 2px solid #ff5e04;
    border-radius: 4px;
    padding: .2rem;
    transition: all .06s ease-in-out;
    margin: 0 auto;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    width: 4.5rem;
    display: inline-block;
    margin-top: -11px;
    margin-left: -15px;
    margin-right: -5px;
    fill: #ff5e04;
}

.name {
    text-decoration: none;
    color: #422b67;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.text-container {
    text-align: center;
    margin-top: -55px;
    margin-left: 47px;
    margin-right: 10px;
}